function SimpleArrAssign.main 4
push constant 7
pop local 1
push local 1
call Array.new 1
pop local 0
push constant 0
pop local 2
push local 2
push local 0
add
push constant 343
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push local 0
push local 2
add
pop pointer 1
push that 0
add
pop local 3
push constant 0
return

